server {
    listen 80;
    server_name {{ hostname }}.{{ domain_name }};
    access_log /var/log/nginx/{{ hostname }}.log;
    location / {
        set $backend "{{ hostname }}.{{ domain_name }}";
        proxy_pass http://$backend:{{ redirection_http_port }};
        include {{ proxy_params_location }};
        {% if additional_params_location != "" %}
        include {{ additional_params_location }};
        {% endif %}
    }
}

server {
    listen 8080;
    server_name {{ hostname }}.{{ domain_name }};
    access_log /var/log/nginx/{{ hostname }}.log;
    location / {
        set $backend "{{ hostname }}.{{ domain_name }}";
        proxy_pass http://$backend:{{ redirection_http_alt_port }};
        include {{ proxy_params_location }};
        {% if additional_params_location != "" %}
        include {{ additional_params_location }};
        {% endif %}
    }
}

server {
         listen 443 ssl;
         server_name {{ hostname }}.{{ domain_name }};
         access_log /var/log/nginx/{{ hostname }}.log;
         location / {
             set $backend "{{ hostname }}.{{ domain_name }}";
             proxy_pass http://$backend:{{ redirection_ssl_port }};
             include {{ ssl_params_location }};
             {% if additional_params_location != "" %}
             include {{ additional_params_location }};
             {% endif %}
         }
}