certifi==2017.7.27.1
chardet==3.0.4
click==6.6
decorator==4.1.2
dill==0.2.7.1
gevent==1.2.2
greenlet==0.4.13
idna==2.5
ipython==6.1.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.8
jsonpickle==0.9.3
ldap3==2.3
MarkupSafe==0.23
msgpack-python==0.5.4
netifaces==0.10.6
numpy==1.14.5
pexpect==4.2.1
pickleshare==0.7.4
pkg-resources==0.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.3.2
Pygments==2.2.0
pytz==2018.4
pyzmq==17.0.0
requests==2.18.3
rethinkdb==2.3.0.post6
ruamel.yaml==0.15.59
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.2.2
tornado==5.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
websocket==0.2.1
websocket-client==0.46.0
websockets==4.0.1
Werkzeug==0.11.10
XenAPI==1.2
