aniso8601
graphene
graphene-tornado
graphql-core
graphql-relay
Jinja2
MarkupSafe
promise
pytz
git+https://github.com/pashazz/rethinkdb-python.git@set_loop_type
ruamel.yaml==0.15.81
Rx==1.6.1
six==1.11.0
SQLAlchemy==1.2.14
tornado==5.1.1
Werkzeug==0.14.1
