.snackbarContainer {
  position: fixed;
  left: 20px;
  bottom: 10px;
  z-index: 99999;
}

.snackbar {
  overflow: hidden;
  clear: both;
  min-width: 288px;
  max-width: 568px;
  cursor: pointer;
  opacity: 0;
}

.snackbar.snackbarOpened {
  height: auto;
  opacity: 0.8;
}

.alertFade {
  opacity: 0;
  transition: opacity 4s ease-in;
}

@media (max-width: 767px) {
  .snackbarContainer {
    left: 0 !important;
    right: 0;
    width: 100%;
  }

  .snackbarContainer .snackbar {
    min-width: 100%;
  }

  .snackbarContainer [class='snackbar snackbarOpened'] ~ .snackbar.toast {
    margin-top: 20px;
  }

  .snackbarContainer [class='snackbar snackbarOpened'] {
    border-radius: 0;
    margin-bottom: 0;
  }
}
