.filterInput {
  padding: 1px;
  border: solid 1px #DCDCDC;
  transition: box-shadow 0.3s, border 0.3s;
}

.filterInput:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.headerSortAsc,
.headerSortDesc {
  color: #333;
  background: #F5F5F5;
}

.sortImg {
  float: right;
  margin: 5px;
}
