<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>Sign into your XenServer pools</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <h3>Please sign into your XenServer pools with your credentials</h3>
      <form class="form-inline" role="form" action="" method="post">
        {% set counter = 0 %}
        {% for endpoint in xen_endpoints %}
        <div class="row">
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Login" required autofocus name="login{{ counter }}">
            </div>
            <div class="col-md-2">
                <input type="password" class="form-control" placeholder="Password" required name="password{{ counter }}">
            </div>
            <div class="col-md-8">
                <p>{{ endpoint['description'] }}</p>
            </div>
        </div>
        {% set counter = counter+1 %}
        {% endfor %}
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
        </div>
      </form>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
