<div class="endpoint-select col-sm-8 col-lg-8">
    <h3 class="page-header">Virtual machine options</h3>
    <form role="form" id="create-vm-form">

        <div class="input-group">
            <span class="input-group-addon"><i class="icon-servers"></i></span>
            <select class="form-control input-lg" id="pool-select" name="pool-select">
                <option value="--">Select where to deploy instance</option>
                {% for endpoint in xen_endpoints %}
                <option value="{{ endpoint['url'] }}">{{ endpoint['description'] }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-ubuntu"></i></span>
            <select class="form-control" id="template-select" name="template-select" disabled>
                <option value="--">Select OS template for your virtual machine</option>
            </select>
        </div>
        <hr>
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-address"></i></span>
            <input
                    type="text"
                    class="form-control"
                    placeholder="Your full name (e.g. John Smith)"
                    id="user-fullname"
                    name="user-fullname"
                    disabled/>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4 col-lg-4" style="padding-right: 0px;">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    <input
                            type="text"
                            class="form-control"
                            placeholder="Your login for new VM"
                            id="username"
                            name="username"
                            disabled/>
                </div>
            </div>
            <div class="col-sm-1 col-lg-1 div-vcenter">
                <i class="icon-at" style="line-height: 32px;"></i>
            </div>
            <div class="col-sm-7 col-lg-7" style="padding-left: 0px;">
                <div class="input-group">
                    <input
                            type="text"
                            class="form-control"
                            placeholder="Choose hostname for your VM"
                            id="hostname"
                            name="hostname"
                            disabled/>
                    <span class="input-group-addon">.at.ispras.ru</span>
                </div>
            </div>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-password" style="font-size: 28px;"></i></span>
                <input
                        type="password"
                        class="form-control input"
                        placeholder="Choose password for your VM"
                        id="password"
                        name="password"
                        disabled/>
                <input
                        type="password"
                        class="form-control input-sm"
                        placeholder="Confirm password"
                        id="password2"
                        name="password2"
                        disabled/>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-noteslist" style="font-size: 28px;"></i></span>
            <textarea
                    type="text"
                    class="form-control input-sm"
                    placeholder="What do you want to do with this virtual machine?"
                    id="vm-description"
                    name="vm-description"
                    disabled/>
        </div>
        <br>
        <div class="row">
            <h4>Resources settings</h4>
            <div class="col-sm-4 col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-processorthree"></i></span>
                    <input type="text" pattern="\d*"
                            class="form-control" id="vcpus" name="vcpus" value="1" disabled/>
                    <span class="input-group-addon">cores</span>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-ram"></i></span>
                    <input type="text" pattern="\d*"
                           class="form-control" id="ram" name="ram" value="256" disabled/>
                    <span class="input-group-addon">MB</span>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-hdd"></i></span>
                    <input type="text" pattern="\d*"
                           class="form-control" id="hdd" name="hdd" value="9" disabled/>
                    <span class="input-group-addon">GB</span>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h4>HTTP/HTTPS reverse-proxy settings</h4>
            <div class="col-sm-4 col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-network">:80</i></span>
                    <input type="text" pattern="\d*"
                           class="form-control input-sm"
                           id="redirection_http_port"
                           name="redirection_http_port"
                           value="80"
                           disabled>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-network">:8080</i></span>
                    <input type="text" pattern="\d*"
                           class="form-control input-sm"
                           id="redirection_http_alt_port"
                           name="redirection_http_alt_port"
                           value="8080"
                           disabled>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-network">:443</i></span>
                    <input type="text" pattern="\d*"
                           class="form-control input-sm"
                           id="redirection_ssl_port"
                           name="redirection_ssl_port"
                           value="443"
                           disabled>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" id="create-button" disabled>Create VM</button>
    </form>
    <br>
</div>
<div class="col-sm-4 col-lg-4">
    <h3 class="page-header" style="text-align: right;">XenServer information</h3>
    <div class="alert alert-info" id="pool-info">
        <p>Select where to deploy VM to see XenServer info.</p>
    </div>
</div>
