<div class="container-fluid">
    {% for entry in pool_info['host_list'] %}
        <p class="lead">Host: {{ entry['name_label'] }}</p>
        <dl class="dl-horizontal">
            <dt>Memory available</dt>
            <dd>{{ entry['memory_available'] }}MB</dd>
        <small>
            <dt>total</dt>
            <dd>{{ entry['memory_total'] }}MB</dd>
            <dt>physically free</dt>
            <dd>{{ entry['memory_free'] }}MB</dd>
        <hr style="margin: 6px 0;">
            <dt>Running VMs now</dt>
            <dd><span class='badge'>{{ entry['resident_VMs']|count }}</span></dd>
        {% if entry['software_version']['product_brand'] %}
            <dt>Software installed</dt>
            <dd>{{ entry['software_version']['product_brand']|e }}</dd>
        {% endif %}
        {% if entry['software_version']['product_version'] %}
            <dt>Software version</dt>
            <dd>{{ entry['software_version']['product_version']|e }}</dd>
        {% endif %}
            <dt>Xen version</dt>
            <dd>{{ entry['software_version']['xen'] }}</dd>
        <hr style="margin: 6px 0;">
            <dt>Processor model</dt>
            <dd>
                <details>
                    <summary>Click to show</summary>
                {{ entry['cpu_info']['modelname'] }}
                </details>
            </dd>
            <dt>frequency</dt>
            <dd>{{ entry['cpu_info']['speed'] }}MHz</dd>
            <dt>cores</dt>
            <dd>{{ entry['cpu_info']['cpu_count'] }}</dd>
        </small>
        </dl>
        <hr style="margin: 18px 0;">
    {% endfor %}
    {% if pool_info['hdd_available'] is none %}
    <p id="no-sr-error"></p>
    {% else %}
    <p class="lead">HDD available: {{ pool_info['hdd_available'] }}GB</p>
    {% endif %}
</div>