{% set nothing = "vmemperor-no-reverse-proxy" %}

<div class="table-responsive">
    <table class="table table-hover table-vcenter">
        <thead>
        <tr>
            <th class="col-sm-2">Location</th>
            <th class="col-sm-6">Template name</th>
            <th class="col-sm-4">Tags</th>
        </tr>
        </thead>
        <tbody id="templates_table_body">
        {% for template in template_list %}
            {% if 'install-distro' in template['other_config'] %}
                {% if template['other_config']['install-distro'] in config['enabled-distros'] %}
            <tr>
                <td>
                    <blockquote>
                        <p>{{ template['endpoint']['description'] }}</p>
                        <footer>{{ template['endpoint']['url'] }}</footer>
                    </blockquote>
                </td>
                <td>
                    <blockquote>
                        <p class="lead">{{ template['name_label'] }}</p>
                        <footer>{{ template['name_description'] }}</footer>
                    </blockquote>
                </td>
                <td>
                    <form class="enable-template" role="form">
                        <div class="form-group">
                            <label>Select installation mirror.</label>
                            {% if 'install_repository' in template['tags'] %}
                                <input type="url" class="form-control" value="{{ template['install_repository'] }}">
                            {% else %}
                            <input type="url" class="form-control" value="{{ template['default_mirror'] }}">
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label>Select reverse-proxy config style</label>
                            <select class="form-control proxy-select">
                                <option value={{ nothing }}>I don't need it at all</option>
                            {% for reverse_proxy in config['enabled-reverse-proxies'] %}
                                <option value={{ reverse_proxy }}
                                        {% if reverse_proxy in template['tags'] -%}
                                        selected
                                        {%- endif %}>
                                    {{ config['enabled-reverse-proxies'][reverse_proxy] }}
                                </option>
                            {% endfor %}
                            </select>
                        </div>
                        <input name="vm_uuid" type="hidden" class="form-control" value="{{ template['uuid'] }}">
                        <input name="endpoint_url" type="hidden" class="form-control" value="{{ template['endpoint']['url'] }}">
                        <input name="endpoint_description" type="hidden" class="form-control" value="{{ template['endpoint']['description'] }}">
                        <input name="action" type="hidden" class="form-control" value="enable-template">
                        {% if 'vmemperor' not in template['tags'] %}
                            <button class="btn btn-default btn-block">Enable this template</button>
                        {% else %}
                            <button class="btn btn-danger">Disable this template</button>
                            <button class="btn btn-info">Update this template</button>
                        {% endif %}
                    </form>
                {% endif %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="container-fluid">
    <h1>The templates you can not use *yet*</h1>
    <p class="lead">The following list of templates is able to work with VM emperor system but no one has implemented
    automatic installer instructions generator. For this moment only
        <a href="http://en.wikipedia.org/wiki/Preseed">preseed-generator</a> is available, commits are welcome.</p>
    <p class="text-muted">
    {% for template in template_list %}
        {% if 'install-distro' in template['other_config'] and template['other_config']['install-distro'] not in config['supported-distros'] %}
            {{ template['name_label'] }}
        {% endif %}
    {% endfor %}

    </p>
</div>