<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>VM name</th>
          <th></th>
          <th>Power state</th>
          <th>VCPUs</th>
          <th>Current RAM (MB)</th>
        </tr>
      </thead>
      <tbody>
      {% for vm in vm_list %}
        <tr>
          <td>{{ vm['name_label'] }}</td>
          <td>{% if vm['networks'] and '0/ip' in vm['networks'] %} {{ vm['networks']['0/ip'] }} {% endif %}</td>
          <td>{{ vm['power_state'] }}</td>
          <td>{{ vm['VCPUs_at_startup'] }}</td>
          <td>{{ vm['memory_target'] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>