<div class="table-responsive">
    <table class="table table-hover table-vcenter">
      <thead>
        <tr>
          <th class="col-sm-4"><p class="text-left">Virtual machine</p></th>
          <th class="col-sm-2"><p class="text-center">IP Address</p></th>
          <th class="col-sm-1"><p class="text-center">VCPUs</p></th>
          <th class="col-sm-1"><p class="text-center">RAM</p></th>
          <th class="col-sm-1"><p class="text-left">Power state</p></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="vms_table_body">

      {% for vm in vm_list %}
        <tr>
          <td>
            <blockquote>
              <p>{{ vm['name_label'] }}</p>
              <footer>{{ vm['name_description'] }}</footer>
            </blockquote>
          </td>
          <td>
              <p class="text-primary text-center">
                  {% if vm['networks'] and '0/ip' in vm['networks'] %}
                      {{ vm['networks']['0/ip'] }}
                  {% endif %}
              </p>
          </td>
          <td><p class="text-center"><span class="badge">{{vm['VCPUs_at_startup']}}</span></p></td>
          {% if vm['power_state'] == 'Running' %}
          <td><p class="text-center"><span class="badge alert-info">{{ (vm['memory_target'])|int // (1024*1024) }}MB</span></p></td>
          {% else %}
          <td>
              <p class="text-center">
                  <span class="badge alert-info">{{ (vm['memory_dynamic_min'])|int // (1024*1024) }}&ndash;{{ (vm['memory_dynamic_max'])|int // (1024*1024) }}MB
                  </span>
              </p>
          </td>
          {% endif %}
          <td><p>{{ vm['power_state'] }}</p></td>
          <td>
              {% if vm['power_state'] == 'Halted' %}
              <p>
                  <span class="input-group-btn">
                      <button
                              class="btn btn-primary launch-vm"
                              type="button"
                              description="launch {{ vm['name_label'] }} VM"
                              action="start-vm">
                          Turn on VM
                          <form>
                              <input name="vm_uuid" type="hidden" class="form-control" value="{{ vm['uuid'] }}">
                              <input name="endpoint_url" type="hidden" class="form-control" value="{{ vm['endpoint']['url'] }}">
                              <input name="endpoint_description" type="hidden" class="form-control" value="{{ vm['endpoint']['description'] }}">
                          </form>
                      </button>
                  </span>
              </p>
              {% endif %}
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
</div>