#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
#url --url={{ mirror_url }}
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us' --switch='grp:alt_shift_toggle'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto dhcp --device eth0 --ipv6 auto --activate
network --onboot yes --device eth0 --bootproto static --ip 10.10.10.21 --netmask 255.255.255.0 --gateway 10.10.10.254 --noipv6 --nameserver 10.10.12.7
network  --hostname=kuku

#Root password
rootpw --lock
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Moscow --isUtc --nontp
user --groups=wheel --name={{ username }} --fullname={{ fullname }} --password={{ password }}
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core
kexec-tools

%end

reboot